In [17]:
import pandas as pd
df = pd.read_csv('ML_data.csv')
df.head()

   Age      Height     Weight  Gender Likeness
0   53  153.278361  79.183453    Male   Samosa
1   56  199.333636  60.453554    Male   Samosa
2   40  176.137288  79.703309  Female   Samosa
3   64  168.847337  57.181763  Female  Biryani
4   47  176.453651  95.345925    Male   Samosa

In [18]:
# changing gender columnn in discrete form
df['Gender'] = df['Gender'].replace("Male",1)
df['Gender'] = df['Gender'].replace("Female",0)
df.head()

   Age      Height     Weight  Gender Likeness
0   53  153.278361  79.183453       1   Samosa
1   56  199.333636  60.453554       1   Samosa
2   40  176.137288  79.703309       0   Samosa
3   64  168.847337  57.181763       0  Biryani
4   47  176.453651  95.345925       1   Samosa

In [19]:
df['Height'] = df['Height'].astype(int)
df['Weight'] = df['Weight'].astype(int)
df.tail()

    Age  Height  Weight  Gender Likeness
95   44     168      95       1   Samosa
96   43     194      82       1   Samosa
97   57     179      96       0  Biryani
98   54     165      50       0   Samosa
99   33     176      65       0  Biryani

In [28]:
x = df[['Age','Gender']]
y = df['Likeness']
y.head()

0     Samosa
1     Samosa
2     Samosa
3    Biryani
4     Samosa
Name: Likeness, dtype: object

In [29]:
# fitting data into model 
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier().fit(x,y)
model

DecisionTreeClassifier()

In [33]:
# prediction
model.predict([[80,1]])

c:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

#### Checking the accuracy of model by spliting it into Test and Train

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# splitting into train and test 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2)
# creating model
model1 = DecisionTreeClassifier().fit(x_train,y_train)
predicted_values = model1.predict(x_test)
predicted_values
# checking score
actual_value = y_test
score = accuracy_score(actual_value,predicted_values)
core = score*100
core = core.astype(int)
print("The model is:",core," % accurate")

The model is: 50  % accurate

# how to save model

In [77]:
import joblib
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier().fit(x,y)
joblib.dump(model,"foodie.joblib")

['foodie.joblib']

# Graph

In [92]:
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)
tree.export_graphviz(model,
                    out_file = "foodie.dot",
                    feature_names=['Age','Gender']    ,
                    class_names= sorted(y.unique()),
                    label= "all",
                    rounded = True,
                    filled = True, )