In [13]:
import pandas as pd
df = pd.read_csv('ML_data.csv')
df['Gender'] = df['Gender'].replace("Male",1)
df['Gender'] = df['Gender'].replace("Female",0)
df.head()

   Age      Height     Weight  Gender Likeness
0   53  153.278361  79.183453       1   Samosa
1   56  199.333636  60.453554       1   Samosa
2   40  176.137288  79.703309       0   Samosa
3   64  168.847337  57.181763       0  Biryani
4   47  176.453651  95.345925       1   Samosa

In [9]:
# Selection of input and output data
x = df[['Weight','Gender']]
y = df['Likeness']
df['Weight']= df['Weight'].astype(int)
x.head()

   Weight  Gender
0      79       1
1      60       1
2      79       0
3      57       0
4      95       1

In [24]:
# Creating the Model 
from sklearn.neighbors import KNeighborsClassifier
# Trains the model on data
model = KNeighborsClassifier(n_neighbors=5).fit(x,y)
# get prefiction from model
predicted_values = model.predict([[79,1]])
predicted_values

c:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [86]:
# checking the accuracy or evaluating the matrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# splitting the data in 80/20
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2)
# creating the model for testing
model = KNeighborsClassifier(n_neighbors=7).fit(x_train,y_train)
prediction = model.predict(x_test)
print("the predicted values for test is: \n",prediction)
# checking the score
score = accuracy_score(y_test,prediction)
core = print("The accuracy of model is",int(score*100),"%")
core

the predicted values for test is:
 ['Biryani' 'Biryani' 'Samosa' 'Samosa' 'Biryani' 'Samosa' 'Samosa'
 'Biryani' 'Samosa' 'Samosa' 'Biryani' 'Biryani' 'Samosa' 'Biryani'
 'Samosa' 'Samosa' 'Samosa' 'Samosa' 'Samosa' 'Biryani']
The accuracy of model is 60 %

In [91]:
model.predict(x)

array(['Samosa', 'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Samosa', 'Samosa', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Samosa',
       'Samosa', 'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa',
       'Samosa', 'Samosa', 'Samosa', 'Samosa', 'Biryani', 'Samosa',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa',
       'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa', 'Samosa',
       'Samosa', 'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Samosa', 'Samosa', 'Biryani', 'Biryani'], dtype=object)